{% trans_default_domain 'WXLUserBundle' %}

{{ form_start(form, { 'action': path('wxl_user_change_password'), 'attr': { 'class': 'wxl_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
