{# templates/sidebar/index.html.twig #}
<!--|| SEARCH ||-->
<section class="section">
  <header>
    <h3>{{ 'sidebar.search'|trans({}, 'sidebar') }}</h3>
  </header>
  <p class="sidebar-search">
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="{% trans %}nav.search{% endtrans %}" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">{% trans %}nav.search{% endtrans %}</button>
    </form>
  </p>
</section>

<!--|| LOGIN/REGISTER ||-->
<section class="section">
  <header>
    <h3>{{ 'sidebar.login.register'|trans({}, 'sidebar') }}</h3>
  </header>
  <p class="login-reg">
    <a href="{{ path('wxl_user_security_login') }}">
      <button class="btn btn-outline-primary btn-md my-2 my-sm-0" type="submit">{{ 'sidebar.login'|trans({}, 'sidebar') }}</button>
    </a>
    <a href="{{ path('wxl_user_registration_register') }}">
      <button class="btn btn-outline-primary btn-md my-2 my-sm-0" type="submit">{{ 'sidebar.register'|trans({}, 'sidebar') }}</button>
    </a>
  </p>
  <p>
  <div>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'WXLUserBundle') }} |
          <a href="{{ path('wxl_user_security_logout') }}">
              {{ 'layout.logout'|trans({}, 'WXLUserBundle') }}
          </a>
      {% else %}
          <a href="{# {{ path('wxl_user_security_login') }} #}">{#  {{ 'layout.login'|trans({}, 'WXLUserBundle') }}  #}</a>
      {% endif %}
  </div>

  {% if app.request.hasPreviousSession %}
      {% for type, messages in app.session.flashbag.all() %}
          {% for message in messages %}
              <div class="flash-{{ type }}">
                  {{ message }}
              </div>
          {% endfor %}
      {% endfor %}
  {% endif %}
  </p>
</section>

<!--|| TAG CLOUD ||-->
  <section class="section">
    <header>
      <h3>{{ 'sidebar.tag.cloud'|trans({}, 'sidebar') }}</h3>
    </header>
    <p class="tags"></p>
  </section>

<!--|| LATEST COMMENTS ||-->
  <section class="section">
    <header>
      <h3>{{ 'sidebar.latest.comments'|trans({}, 'sidebar') }}</h3>
    </header>
    <p>There are no recent comments</p>
  </section>

<!--|| VERSION ||-->
  <section class="section">
    <header>
      <h3>{{ 'sidebar.software.version'|trans({}, 'sidebar') }}:</h3>
    </header>
    <p>
      <b><a href="https://gitlab.com/werxlab/puzzl-gloo" target="_blank"  style="color:#1630F7">PuzzlGloo</a></b>
      <small>v{{ shivas_app_version }}</small>
    </p>
  </section>
