/* Blog */
.date {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  color: #666;
  line-height: 30px
}

.blog {
  margin-bottom: 20px;
}

.blog img {
  width: 190px;
  float: left;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 0 10px 10px 0;
}

.blog .meta {
  clear: left;
  margin-bottom: 20px;
}

.blog .snippet p.continue {
  margin-bottom: 0;
  text-align: right;
}

.blog .meta {
  font-style: italic;
  font-size: 12px;
  color: #666;
}

.blog .meta p {
  margin-bottom: 5px;
  line-height: 1.2em;
}

.blog img.large {
  width: 300px;
  min-height: 165px;
}

/* COMMENTS */
.comments {
  clear: both;
}

.comments .odd {
  background: #eee;
}

.comments .comment {
  margin-left: 25px;
  padding: 20px;
}

.comments .comment p {
  margin-bottom: 0;
}

.comments h3 {
  background: #eee;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  clear: both;
}

.comments .previous-comments {
  margin-bottom: 20px;
}
