{% extends "@WXLUser/layout.html.twig" %}

{% trans_default_domain 'WXLUserBundle' %}

{% block wxl_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock wxl_user_content %}
