{% extends "@WXLUser/layout.html.twig" %}

{% trans_default_domain 'WXLUserBundle' %}

{% block wxl_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}
