{% trans_default_domain 'WXLUserBundle' %}

<form action="{{ path('wxl_user_resetting_send_email') }}" method="POST" class="wxl_user_resetting_request">
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
