{% trans_default_domain 'WXLUserBundle' %}

{{ form_start(form, { 'action': path('wxl_user_resetting_reset', {'token': token}), 'attr': { 'class': 'wxl_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
