{# templates/base.html.twig #}
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html" ;=";" charset="utf-8" /> <!-- | Important for Responsive | -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {% block site_title %} {{ 'site.title'|trans }} {% endblock site_title %} </title>
   {% block stylesheets %}
  <!-- Google Fonts CSS -->
  <link href='http://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Germania+One' rel='stylesheet' type='text/css'> <!-- Bootstrap CSS -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"> <!-- FontAweSome min CSS -->
  <!-- FontAweSome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> <!-- Our CSS -->
  <!-- Custom CSS -->
  <link href="{{ asset('css/master.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ asset('css/contact.css') }}" type="text/css" rel="stylesheet"/>
  <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet"/>
   {% endblock stylesheets %}
  <link rel="shortcut icon" href="{{ asset('images/logo/favicon.png') }}" />
</head>

<body>
  <div id="blog" class="container">
    {% block header %}
    <div class="row">
      <div class="col-md-12">
        <header id="header">
          <hgroup>
            <h2> {% block site_headline %} <a href="{{ path('homepage') }}"><img src="{{ asset('images/logo/logo.png') }}" /></a> </img> {% endblock site_headline %} </h2>
            <h3> {% block site_tagline %} <a href="{{ path('homepage') }}"  style="color:#1630F7">{{ 'site.tagline'|trans }}</a> {% endblock site_tagline %} </h3>
          </hgroup>
        </header>
      </div>
    </div>
    {% endblock header %}

    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded"> <a class="navbar-brand" href="{{ path('homepage') }}" style="color:#1630F7">{{ 'nav.home'|trans }}</a> <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" href="{# {{ path('about') }} #}" style="color:#1630F7">{{ 'nav.about'|trans }}</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{ path('contact') }}" style="color:#1630F7">{{ 'nav.contact'|trans }}</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{ path('search') }}" style="color:#1630F7">{{ 'nav.search'|trans }}</a> </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/en"><img src="{{ asset('images/flags/us.png') }}" /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/de"><img src="{{ asset('images/flags/de.png') }}" /></a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    {% endblock navbar %}

    <div class="card card-default">
      <div class="card-body">
        <div class="container-fluid">
          <!--|| The content of the Homepage will be here ||-->
          <section class="main-col">
            {% block body %}
            {% endblock body %}
          </section>

          <!--|| The content of the Sidebar will be here ||-->
          <aside class="wrapper sidebar">
            {% block sidebar %}
            {% endblock sidebar %}
          </aside>
        </div>
      </div>

      {% block footer %}
      <!--|| Share in social networks the page that the user is reading ||-->
      <div class="card-footer">
        <div id="socialNetworks" class="text-center">
          <a id="shareFB" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" style="color:#1630F7"> <i class="fab fa-facebook-f fa-2x" alt="Share on Facebook" />
            </i> <a id="shareTW" target="_blank" href="http://twitter.com/home?status={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" style="color:#1630F7"> <i class="fab fa-twitter fa-2x" alt="Share on Twitter" /> </i>
        </div>
        <div id="footerInfo" class="text-center">
          <a href="https://gitlab.com/werxlab/puzzl-gloo" target="_blank" style="color:#1630F7">{% trans %}footer.copy{% endtrans %}</a> &copy; {{ "now" | date("Y") }} <a
            href="mailto://{{ 'footer.mail.username'|trans }}@{{ 'footer.mail.domain'|trans }}" style="color:#1630F7">{{ 'footer.mail.title'|trans }}</a>. <br>
        </div>
        <div class="ftr-legal text-center">
          <ul>
            <li><a href="{# {{ path('terms') }} #}" style="color:#1630F7">{% trans %}legal.terms{% endtrans %}</a></li>
            <li><a href="{# {{ path('disclaimer') }} #}" style="color:#1630F7">{% trans %}legal.disclaimer{% endtrans %}</a></li>
            <li><a href="{# {{ path('privacy_policy') }} #}" style="color:#1630F7">{% trans %}legal.privacy.policy{% endtrans %}</a></li>
            <li><a href="{# {{ path('imprint') }} #}" style="color:#1630F7">{% trans %}legal.imprint{% endtrans %}</a></li>
          </ul>
        </div>
      </div>
      {% endblock footer %}
    </div>

    {% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script> <!-- FontAweSome JS -->
    <!-- FontAweSome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="js/master.js"></script>
    {% endblock javascripts %}
  </div>
</body>

</html>
